@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&family=Varela+Round&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Varela Round', sans-serif;
}

body{
    background-color: gray;
}

h1{
    text-wrap:balance;
    color:white;
}

.center{
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
}